@using Application.Constants
@model Contracts.Requests.Auth.PostRegister.PostRegisterRequest;

@{
    ViewBag.Title = "Register";
    Layout = "_Layout"; // Используем базовый макет, если это допустимо
}

<div class="section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <h2>Register Now</h2>
                <form asp-controller="Auth" asp-action="Register" method="post">
                    <input type="hidden" asp-for="Role" value="@Roles.StudentRoleName"/>
                    <div class="form-group">
                        <input class="form-control" asp-for="UserName" type="text" placeholder="Full Name">
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input class="form-control" asp-for="Email" type="email" placeholder="Email">
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input class="form-control" asp-for="Password" type="password" placeholder="Password">
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input class="form-control" asp-for="PasswordConfirm" type="password" placeholder="Confirm Password">
                        <span asp-validation-for="PasswordConfirm" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Register</button>
                    </div>
                </form>
                <p>Already have an account? <a asp-controller="Auth" asp-action="Login">Login</a></p>
            </div>
            <div class="col-md-4">
                <div class="sidebar">
                    <h3>Helpful Information</h3>
                    <ul>
                        <li><a href="#">Terms and Conditions</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
