@using Application.Constants
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Contracts.Requests.Auth.PostRegister.PostRegisterRequest;

@{
    ViewBag.Title = "Register";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewData["Title"]</title>
     <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Finate - Job Portal"/>
    <meta name="keywords" content="accessories, digital products, electronic html, modern, products, responsive"/>
    <link rel="shortcut icon" href="~/img/favicon.ico" type="image/x-icon" />

    <meta name="author" content="hastech"/>
    <!--== Bootstrap CSS ==-->
    <link href="~/css/Registerbootstrap.min.css" rel="stylesheet" />
    <!--== Icofont Icon CSS ==-->
    <link href="~/css/Registericofont.css" rel="stylesheet" />
    <!--== Swiper CSS ==-->
    <link href="~/css/Registerswiper.min.css" rel="stylesheet" />
    <!--== Fancybox Min CSS ==-->
    <link href="~/css/Registerfancybox.min.css" rel="stylesheet" />
    <!--== Aos Min CSS ==-->
    <link href="~/css/Registerfancybox.min.css" rel="stylesheet" />

    <!--== Main Style CSS ==-->
    <link href="~/css/RegisterStyle.css" rel="stylesheet" />
</head>
<body>
<div class="wrapper">
    <header class="header-area transparent">
        <div class="container">
          <div class="row no-gutter align-items-center position-relative">
            <div class="col-12">
              <div class="header-align">
                <div class="header-align-start">
                  <div class="header-logo-area">
                    <a href="/Home/Index">
                      <img class="logo-main" src="~/img/logo-light.png" alt="Logo" />
                      <img class="logo-light" src="~/img/logo-light.png" alt="Logo" />
                    </a>
                  </div>
                </div>
                <div class="header-align-center">
                  <div class="header-navigation-area position-relative">
                    <ul class="main-menu nav">
                      <li><a href="/Home/Index"><span>Home</span></a></li>
                      <li class="has-submenu"><a href="#/"><span>Find Jobs</span></a>
                      </li>
                      <li class="has-submenu"><a href="#/"><span>Candidates</span></a>
                      </li>
                      <li><a href="contact.html"><span>Contact</span></a></li>
                    </ul>
                  </div>
                </div>
                <div class="header-align-end">
                  <div class="header-action-area">
                    <a class="btn-registration" href="/Auth/Register">Profile</a>
                    <button class="btn-menu" type="button" data-bs-toggle="offcanvas" data-bs-target="#AsideOffcanvasMenu" aria-controls="AsideOffcanvasMenu">
                      <i class="icofont-navigation-menu"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </header>

      <main class="main-content">
          <div class="page-header-area sec-overlay sec-overlay-black" data-bg-img="assets/img/photos/bg2.jpg">
    <div class="container pt--0 pb--0">
        <div class="row">
            <div class="col-12">
                <div class="page-header-content">
                    <h2 class="title">Register Page</h2>
                    <nav class="breadcrumb-area">
                        <ul class="breadcrumb justify-content-center">
                            <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                            <li class="breadcrumb-sep">//</li>
                            <li>Pages</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
 <section class="account-login-area">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-10 col-lg-7 col-xl-6">
            <div class="login-register-form-wrap register-form-wrap">
              <div class="login-register-form">
                <div class="form-title">
                  <h4 class="title">Register Now</h4>
                </div>
                <div class="tab-content" id="pills-tabContent">
                  <div class="tab-pane fade show active" id="candidate" role="tabpanel" aria-labelledby="candidate-tab">
                    <form asp-controller="Auth" asp-action="Register" method="post">
                      <input type="hidden" asp-for="Role" value="@Roles.StudentRoleName"/>
                      <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                              <input class="form-control" asp-for="UserName" type="text" placeholder="Full Name">
                              <span asp-validation-for="UserName"></span>
                            </div>
                        </div>
                        <div class="col-12">
                          <div class="form-group">
                            <input class="form-control" asp-for="Email" type="email" placeholder="Email">
                            <span asp-validation-for="Email"></span>
                          </div>
                        </div>
                        <div class="col-12">
                          <div class="form-group">
                            <input class="form-control" asp-for="Password" type="password" placeholder="Password">
                            <span asp-validation-for="Password"></span>
                          </div>
                        </div>
                        <div class="col-12">
                          <div class="form-group">
                            <input class="form-control" asp-for="PasswordConfirm" type="password" placeholder="Confirm Password">
                            <span asp-validation-for="PasswordConfirm"></span>
                          </div>
                        </div>
                        <div class="col-12">
                          <div class="form-group">
                            <button type="submit" class="btn-theme">Register</button>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
                <div class="login-register-form-info">
                  <p>Already have an account? <a asp-controller="Auth" asp-action="Login">Login</a></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
      </main>

        <footer class="footer-area">
          <!--== Start Footer Top ==-->
          <div class="footer-top">
            <div class="container pt--0 pb--0">
              <div class="row">
                <div class="col-lg-5">
                  <div class="footer-newsletter-content">
                    <h4 class="title">Subscribe for everyday job newsletter.</h4>
                  </div>
                </div>
                <div class="col-lg-7">
                  <div class="footer-newsletter-form">
                    <form action="#">
                      <input type="email" placeholder="Enter your email">
                      <button type="submit" class="btn-newsletter">Subscribe Now</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--== End Footer Top ==-->
      
          <!--== Start Footer Main ==-->
          <div class="footer-main">
            <div class="container pt--0 pb--0">
              <div class="row">
                  <div class="widget-item widget-about">
                    <div class="widget-logo-area">
                      <a href="/Home/Index">
                        <img class="logo-main" src="~/img/logo-light-theme.png" alt="Logo" />
                      </a>
                    </div>
                    <p class="desc">That necessitat ecommerce platform that optimi your store popularised the release</p>
                    <div class="social-icons">
                      <a href="https://www.facebook.com" target="_blank" rel="noopener"><i class="icofont-facebook"></i></a>
                      <a href="https://www.skype.com" target="_blank" rel="noopener"><i class="icofont-skype"></i></a>
                      <a href="https://twitter.com" target="_blank" rel="noopener"><i class="icofont-twitter"></i></a>
                    </div>
                  </div>
                </div>
                    </div>
                  </div>
          <!--== End Footer Main ==-->
      
          <!--== Start Footer Bottom ==-->
          <div class="footer-bottom">
            <div class="container pt--0 pb--0">
              <div class="row">
                <div class="col-12">
                  <div class="footer-bottom-content">
                    <p class="copyright">© 2024 Finate. Made with <i class="icofont-heart"></i> by <a target="_blank" href="https://themeforest.net/user/codecarnival">Codecarnival.</a></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--== End Footer Bottom ==-->
        </footer>
</div>
<!--=== jQuery Modernizr Min Js ===-->
<script src="~/js/modernizr.js"></script>
<!--=== jQuery Min Js ===-->
<script src="~/js/jquery-main.js"></script>
<!--=== jQuery Migration Min Js ===-->
<script src="~/js/jquery-migrate.js"></script>
<!--=== jQuery Popper Min Js ===-->
<script src="~/js/popper.min.js"></script>
<!--=== jQuery Bootstrap Min Js ===-->
<script src="~/js/bootstrap.min.js"></script>
<!--=== jQuery Swiper Min Js ===-->
<script src="~/js/swiper.min.js"></script>
<!--=== jQuery Fancybox Min Js ===-->
<script src="~/js/fancybox.min.js"></script>
<!--=== jQuery Aos Min Js ===-->
<script src="~/js/aos.min.js"></script>
<!--=== jQuery Counterup Min Js ===-->
<script src="~/js/counterup.js"></script>
<!--=== jQuery Waypoint Js ===-->
<script src="~/js/waypoint.js"></script>

<!--=== jQuery Custom Js ===-->
<script src="~/js/custom.js"></script>
</body>
</html>