@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Contracts.Requests.Auth.PostResetPassword.PostResetPasswordRequest;

@{
    ViewBag.Title = "Reset Password";
    Layout = "_Layout";  // Подключаем общий шаблон макета, если это уместно для вашего приложения
}

<div class="page-header-area sec-overlay sec-overlay-black" style="background-image: url('~/img/photos/bg2.jpg');">
    <div class="container pt--0 pb--0">
        <div class="row">
            <div class="col-12">
                <div class="page-header-content">
                    <h2 class="title">Reset Password</h2>
                    <nav class="breadcrumb-area">
                        <ul class="breadcrumb justify-content-center">
                            <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                            <li class="breadcrumb-sep">//</li>
                            <li>Reset Password</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<!--== End Page Header Area Wrapper ==-->

<!--== Start Reset Password Area Wrapper ==-->
<section class="account-login-area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-7 col-xl-6">
                <div class="login-register-form-wrap">
                    <div class="login-register-form">
                        <div class="form-title">
                            <h4 class="title">Enter your email to reset your password</h4>
                        </div>
                        <form asp-controller="Auth" asp-action="ResetPassword" method="post">
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <input class="form-control" type="email" asp-for="Email" placeholder="Email">
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary">Reset Password</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--== End Reset Password Area Wrapper ==-->
