@model Contracts.Requests.lesson.LessonPageResponseModel

@{
    System.Diagnostics.Debug.Assert(Model.LessonByIdDto.SmallDescription != null, "Model.LessonByIdDto.SmallDescription != null");
    ViewBag.Title = Model.LessonByIdDto.SmallDescription;
    Layout = "_Layout";
}

<div id="lesson" class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h2>@Model.LessonByIdDto.SmallDescription</h2>
                <img src="@Url.Content(Model.LessonByIdDto.LessonPhotoUrl)" class="img-responsive" alt="Изображение курса">
                <p>@Model.LessonByIdDto.Description</p>
                @if (!string.IsNullOrEmpty(Model.LessonByIdDto.VideoLink))
                {
                    @Html.Raw(Model.LessonByIdDto.VideoLink)
                }
            </div>
            <div class="col-md-4">
                <div class="sidebar">
                    <h3>Related Lessons</h3>
                    <ul>
                        <li>
                            <a href="#">Lesson 1: Introduction to Programming</a>
                        </li>
                        <li>
                            <a href="#">Lesson 2: Variables and Data Types</a>
                        </li>
                        <li>
                            <a href="#">Lesson 3: Loops and Iteration</a>
                        </li>
                        <li>
                            <a href="#">Lesson 4: Conditional Statements</a>
                        </li>
                        <li>
                            <a href="#">Lesson 5: Functions and Methods</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>